{{extend 'layout.html'}}
<style type="text/css">
       #menu{
           width: 300px;
         margin: 80px auto;
      }
      #menu img{
         -webkit-transition: -webkit-transform .3s ease-in-out;
         border-style: none;
           transition: transition .3s ease-in-out;
           -moz-transition: -moz-transition .3s ease-in-out;
           -o-transition: -o-transition .3s ease-in-out;
      }
      #op img:hover
      {
           transform: scale(1.02);

           -moz-transform: scale(1.02); /* Firefox 4 */

           -o-transform: scale(1.02); /* Opera */

         -webkit-transform: scale(1.02);  /* Chrome */
      }
     </style>
<div class="pt-5" id="op">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mr-auto order-2 order-md-1"> <img class="img-fluid d-block" src="https://cdn.pixabay.com/photo/2013/07/12/18/39/smartphone-153650_960_720.png"> </div>
        <div class="px-md-5 p-3 d-flex flex-column align-items-start justify-content-center col-md-7 order-1 order-md-2"> 
          <h1>Uma nova Tecnologia</h1>
          <p class="mb-3 lead">Uma nova tecnologia de desenvolvimento de sistemas. Ao contrário dos tradicionais aplicativos, um Progressive Web App pode ser considerado como uma evolução híbrida entre as web sites com funcionalidades e um aplicativo de dispositivo móvel.</p>
            
      <div class="row">
          <div class="col-6 mr-auto  align-items-start"> 
              <a class="btn btn-primary" href="{{=URL('acs_empresa','index')}}" >Acessar</a>
          </div>
          {{if not auth.user:}}
          <div class="col-6 mr-auto  align-items-start">
              <a class="btn btn-primary" href="#" >Cadastrar</a>
          </div>
          {{pass}}
      </div>
          <div class="row text-muted">
            <div class="col-12 p-2"> <i class="d-inline fa fa-apple fa-3x"></i> <i class="d-inline fa fa-android fa-3x mx-4"></i> <i class="d-inline fa fa-windows fa-3x"></i> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3" id="op">
    <div class="container">
      <div class="row my-4 d-flex justify-content-center">
        <div class="d-flex flex-column justify-content-center p-3 col-lg-7">
          <p class="lead mb-0">Acesse nosso sistema através do seu navegador, com a possibilidade de instalar no seu dispositivo móvel, computador, notebook independente do seu sistema, Windows, Linux, Mac, andróide, i-phone e qualquer outro.</p>
           <p class="lead mb-0">Não existe limites para o seu negocio, cadastre seus usuários, seus produtos e fornecedores e consiga o acesso das vendas e gerenciamento de todo seu negocio atraves de relatórios mensais</p>
</p>
        </div>
        <div class="p-0 col-lg-3"> <img class="img-fluid d-block" src="https://cdn.pixabay.com/photo/2012/04/13/17/00/lcd-32872_960_720.png"> </div>
      </div>
      <div class="row my-4 d-flex justify-content-center">
        <div class="p-0 order-2 order-lg-1 col-lg-3"> <img class="img-fluid d-block" src="https://cdn.pixabay.com/photo/2017/02/14/07/20/competition-2064865_960_720.jpg"> </div>
        <div class="d-flex flex-column justify-content-center p-3 col-lg-7 order-1 order-lg-2">
          <p class="lead mb-0">Quantos representantes de vendas você tem? Imagine que sem custos adicionais você poderá liberar acesso para ele tirar os pedidos atravez do seu próprio dispositivo móvel</p>
          <p class="lead mb-0">Conheça mais sobre nosso sistema através do suporte técnico e aproveite todas as vantagens oferecidas por ele.</p>

        </div>
      </div>
    </div>
  </div>
  <div class="py-3 text-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6 p-4"> <i class="d-block fa fa-circle fa-3x mb-2 text-muted"></i>
          <h4> <b>Administrativo</b> </h4>
          <p>Acesso para cadastrar todos fornecedores e produtos e verificar todos os relatorios com custos, investimentos e lucrativodade.</p>
        </div>
        <div class="col-lg-5 col-md-6 p-4"> <i class="d-block fa fa-circle-o fa-3x mb-2 text-muted"></i>
          <h4> <b>Representante</b> </h4>
          <p>Cadastro de clientes e liberação a pesquisar produtos e tirar pedidos de vendas, de maneira rápida, simples e objetiva.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center py-3" >
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-8">
          <h1 class="mb-3">Alguns dos Nossos Trabalhos</h1>
          <p class="lead">Conheça nosso portfólio</p>
        </div>
      </div>
      <div class="row" id="op">
        <div class="col-md-4 p-3">
          <div class="card box-shadow">
            <img class="card-img-top" src="https://rogoberto.pythonanywhere.com/welcome/static/images/aluminum.jpg">
            <div class="card-body">
              <p class="card-text">Controle de vendas e cobranças, hoje com mais de 15 mil acessos ao sistema e mais de 10 empresas parceiras no ramo de fabricação e venda de aluminio.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="https://rogoberto.pythonanywhere.com/aluminum/">Ver</a>
                </div> <small class="text-muted">Junho 2019</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-3">
          <div class="card box-shadow">
            <img class="card-img-top" src="https://rogoberto.pythonanywhere.com/welcome/static/images/model_two.jpg">
            <div class="card-body">
              <p class="card-text">Gerenciamento de Locação de imoveis residenciais e comerciais, geração de contratos automatizados, recebimentos e agendamento de recebimento.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="https://arsenalsystem.pythonanywhere.com/model_two">Ver</a>
                </div> <small class="text-muted">Janeiro 2020</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-3">
          <div class="card box-shadow">
            <img class="card-img-top" src="https://rogoberto.pythonanywhere.com/welcome/static/images/model_seven.jpg">
            <div class="card-body">
              <p class="card-text">Conheça nosso site Oficial, com todos os nossos serviços e produtos de sistema e tecnologias para melhorar, ampliar e organizar sua empresa</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="https://rogoberto.pythonanywhere.com/">Ver</a>
                </div> <small class="text-muted">Janeiro 2021</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <p class="lead">Deixe seu telefone e entraremos em contato</p>
          <form class="form-inline">
            <div class="form-group"> <input type="text" class="form-control" placeholder="Seu numero" required="required"> </div> <button type="submit" class="btn btn-primary ml-3">Enviar</button>
          </form>
        </div>
        <div class="col-4 col-md-1 align-self-center"> <a href="#">
            <i class="fa fa-fw fa-2x fa-facebook-official text-primary"></i>
          </a> </div>
        <div class="col-4 col-md-1 align-self-center"> <a href="#">
            <i class="fa fa-fw fa-2x fa-whatsapp text-success"></i>
          </a> </div>
        <div class="col-4 col-md-1 align-self-center"> <a href="#">
            <i class="fa fa-fw fa-2x text-danger fa-instagram"></i>
          </a> </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <p>© Copyright 2020 Arsenal System - Todos os Direitos Reservados</p>
        </div>
      </div>
    </div>
  </div>
